@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-6 mt-4">
            <h1 class="home-page green-color fw-bold text-center">ENIGMA</h1>
            <p class="green-color text-center fw-bold mt-2 fs-4">Encryption and Decryption</p>
            <p class="green-color text-center fw-bold mt-2 fs-4">The Birth of Computer Science</p>
            <p class="green-color text-center mt-2 fs-5">
                The history of ENIGMA is strongly connected to the development of the first computers. Here, I attempt to retell that story.
                This programme seeks to authentically replicate
                an ENIGMA encrypting device and crack ciphers
                with both an authentic and modern method.
            </p>
            <div class="text-center d-flex justify-content-center">
                <a class="btn btn-home me-3 fs-4 mt-3" href="Encryption"><img src="/Sources/Images/arrow-down-right-square-fill.svg" class="mb-1" />&nbsp ENIGMA device</a>
                <a class="btn btn-home fs-4 mt-3" href="Decryption"><span class="text-nowrap">Decryption algorithms</span></a>
            </div>
        </div>

        <div class="col-6 d-flex justify-content-center">
            <img src="Sources/Images/titleImage.png" style="max-width: 100%"/>
        </div>
    </div>

</div>

