@inherits LayoutComponentBase

<header class="navbar-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow p-3" style="height: 50%;">
        <div class="container-fluid d-flex mt-2 justify-content-center">
            <div class="col-4 d-flex justify-content-between">
                <a href="Methods" class="nav-link green-color hoverer fs-3 fw-bold">Decryption Methods</a>
                <a href="Instructions" class="nav-link green-color hoverer fs-3 fw-bold me-2">Instructions</a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="/" class="navbar-brand green-color fs-2 fw-bold hoverer">
                    <img src="Sources/Images/icon.png" class="mb-1" style="height: 81px; width: 75px" />&nbsp ENIGMA Project
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a class="btn btn-secondary fs-3 me-3 p-2 ps-3 pe-3" style="border-radius: 30px !important;"><img src="Sources/Images/circle-fill.svg" class="mb-1">&nbspEN</a>
                <a href="@AppState.PageLink" class="btn btn-home fs-3 p-2 ms-3 ps-3 pe-3" style="border-radius: 30px !important;">@AppState.ButtonState</a>
            </div>
        </div>
    </nav>
</header>
<div class="page">
    <main>
        <article class="content p-0">
            @Body
        </article>
    </main>
</div>

@code
{
    [CascadingParameter]
    public CascadingAppState AppState { get; set; }
}
