@inherits LayoutComponentBase

    <header class="navbar-color">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow" style="height: 17vh;">
            <div class="container-fluid p-3 d-flex mt-2">
                <a href="" class="col-5 text-center navbar-brand green-color nav-title-size fw-bold hoverer"><img src="Sources/Images/icon.png" class="mb-1" style="height: 10vh"/>&nbsp ENIGMA Project</a>
                <div class="collapse d-flex justify-content-between">
                    <a href="History" class="nav-link nav-size green-color hoverer text-nowrap">Historical context</a>
                    <a href="Instructions" class="nav-link nav-size green-color hoverer text-nowrap">Operation of the ENIGMA</a>
                    <a href="Methods" class="nav-link nav-size green-color hoverer text-nowrap">Decryption methods</a>
                </div>
            </div>
        </nav>
    </header>
<div class="page">
    <main>
        <article class="content p-0">
            @Body
        </article>
    </main>
</div>
